<div>
    <p class="text-xl-left">A Casa dos Jogo foi desenvolvida para que todos os fãs de games possam pesquisar e ampliar seus conhecimentos sobre o assunto. 
        Nesta local o usuário encontrará diversas informações sobre os jogos de ação, aventura, suspense e terror...</p>
    
</div>



    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
    
          <div class="carousel-item active">
                <img src="assets/megamanx.jpg" class="d-block w-50" alt="Primeiro Slide">
          </div>
    
          <div class="carousel-item">
                <img src="assets/supermario.jpg" class="d-block w-50" alt="Segundo Slide">
          </div>
    
          <div class="carousel-item">
               <img src="assets/residentevil2.jpg" class="d-block w-25" alt="Terceiro Slide">
          </div>
    
          <div class="carousel-item">
               <img src="assets/residentvillage.jpg" class="d-block w-25" alt="Quarto Slide">
          </div>
    
        </div>
      </div>